 		<table class='table'>
  		  <tr>
          <td><%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:"100x100" %><br>
            <%= book.user.name %>
            <% end %>
          </td>
          <td><%= link_to book.title, book %></td>
          <td><%= book.body %></td>
          <td class="favorite-btn<%= book.id.to_s %>">
          <%= render 'favorites/favorite-btn',book: book %>
          </td>
          <td>コメント件数：<%= book.book_comments.count %></td>
          <tb> <% if book.user_id == current_user.id %></tb>
            <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <tb><% end %></tb>
        </tr>
      </table>